# systemd config
# copy to /lib/systemd/system/homepage.service
#
# systemctl daemon-reload
# systemctl enable homepage.service
# systemctl start homepage
# systemctl status homepage.service
# # tail the log
# journalctl -f -u homepage
[Unit]
Description=Homepage Server
Requires=nginx.service

[Service]
WorkingDirectory=/<PATH_TO_PROJ_DIR>/homepage
ExecStart=/<PATH_TO_PROJ_DIR>/bin/homepage serve --port <port>
Restart=on-failure

[Install]
WantedBy=multi-user.target

